<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<p>
    Braydan's Keyboard Store is your favorite online shop for building custom keyboards. If you don't like it, 100% refundable no matter what.
    We are a young company outside of Madison, Wisconsin. Please come see us if you are in town! 5% off while shopping in store near the Noodles & Co on State Street.

</p>

<a href="http://localhost:8080/">Link to Main Screen</a>
</body>
</html>